nav{
    display: flex;
    border-bottom: 2px solid #f3fff3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 100;
    margin-left: 2rem;
}

input{
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
}

.nav-icons{
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 2rem;
    color: #000000;
}

